<div>
    <div class="ptitle">
        <span jhiTranslate="medicalEquipmentManagerApp.medicalSupplies.home.title">Equipment Types</span>
    </div>
    <div *jhiHasAnyAuthority="'USER_MANAGER'">
        <a [routerLink]="['/medical-supplies/new']"><i class="mdi mdi-plus"></i> <span>Thêm</span></a>
    </div>
</div>
<div>
    <!--<h2 id="page-heading">
        <span jhiTranslate="medicalEquipmentManagerApp.medicalSupplies.home.title">Medical Supplies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medical-supplies" [routerLink]="['/medical-supplies/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="entity.action.create">
            Create a new Medical Supplies
            </span>
        </button>
    </h2>-->

    <jhi-alert-error></jhi-alert-error>

    <!--    <jhi-alert></jhi-alert>-->

    <div class="alert alert-warning" id="no-result" *ngIf="medicalSupplies?.length === 0">
        <span jhiTranslate="medicalEquipmentManagerApp.medicalSupplies.home.notFound">No medicalSupplies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="medicalSupplies?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="medicalEquipmentManagerApp.medicalSupplies.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="medicalEquipmentManagerApp.medicalSupplies.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="medicalSuppliesTypeID"><span jhiTranslate="medicalEquipmentManagerApp.medicalSupplies.medicalSuppliesTypeID">Medical Supplies Type ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="medicalEquipmentManagerApp.medicalSupplies.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" *ngIf="isDisplayUsing" ><span >Số lượng</span> </th>
                    <th scope="col" *ngIf="isDisplayUsing" ><span >Từ kho</span> </th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="medicalEquipmentManagerApp.medicalSupplies.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicalSupplies of medicalSupplies ;trackBy: trackId; let i =index;">
                    <td>{{ medicalSupplies.code }}</td>
                    <td>{{ medicalSupplies.name }}</td>
                    <td>{{ medicalSupplies.medicalSuppliesTypeName }}</td>
                    <td>{{ medicalSupplies.description }}</td>
                    <td>{{ medicalSupplies.totalOW }}</td>
                    <td>{{ medicalSupplies.repositoryName }}</td>
                    <td class="text-center">
                        <div class="custom-control custom-checkbox">
                            <input [disabled]="true" type="checkbox" class="custom-control-input" name="{{'status' + i}}"
                                   id="{{'status' + i}}" [ngModel]="medicalSupplies.status === 1">
                            <label class="custom-control-label" for="{{'status' + i}}"></label>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/medical-supplies', medicalSupplies.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button *jhiHasAnyAuthority="'USER_MANAGER'" type="submit"
                                    [routerLink]="['/medical-supplies', medicalSupplies.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button *jhiHasAnyAuthority="'USER_MANAGER'" type="submit" (click)="delete(medicalSupplies)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td *ngIf="!isDisplayUsing" colspan="6"> Số dòng : {{medicalSupplies?.length}}</td>
                <td *ngIf="isDisplayUsing" colspan="8"> Số dòng : {{medicalSupplies?.length}}</td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div *ngIf="medicalSupplies?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
