<div>
    <div class="ptitle">
        <span jhiTranslate="medicalEquipmentManagerApp.inRepository.home.title">In Repositories</span>
    </div>
    <div>
        <a [routerLink]="['/in-repository/new']"><i class="mdi mdi-plus"></i> <span>Thêm</span></a>
    </div>
</div>
<div>
    <!--<h2 id="page-heading">
        <span jhiTranslate="medicalEquipmentManagerApp.inRepository.home.title">In Repositories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-in-repository" [routerLink]="['/in-repository/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="medicalEquipmentManagerApp.inRepository.home.createLabel">
            Create a new In Repository
            </span>
        </button>
    </h2>-->

    <jhi-alert-error></jhi-alert-error>

    <!--    <jhi-alert></jhi-alert>-->

    <div class="alert alert-warning" id="no-result" *ngIf="inRepositories?.length === 0">
        <span jhiTranslate="medicalEquipmentManagerApp.inRepository.home.notFound">No inRepositories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="inRepositories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="medicalEquipmentManagerApp.inRepository.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postedDate"><span jhiTranslate="medicalEquipmentManagerApp.inRepository.postedDate">Posted Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="no"><span jhiTranslate="medicalEquipmentManagerApp.inRepository.no">No</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliver"><span jhiTranslate="medicalEquipmentManagerApp.inRepository.deliver">Deliver</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phoneContact"><span jhiTranslate="medicalEquipmentManagerApp.inRepository.phoneContact">Phone Contact</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inRepository of inRepositories ;trackBy: trackId">
                    <td><a [routerLink]="['/in-repository', inRepository.id, 'view']">{{ inRepository.id }}</a></td>
                    <td>{{ inRepository.date | date:'mediumDate' }}</td>
                    <td>{{ inRepository.postedDate | date:'mediumDate' }}</td>
                    <td>{{ inRepository.no }}</td>
                    <td>{{ inRepository.deliver }}</td>
                    <td>{{ inRepository.phoneContact }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/in-repository', inRepository.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/in-repository', inRepository.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(inRepository)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="inRepositories?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
