<div>
    <div class="ptitle">
        <span jhiTranslate="medicalEquipmentManagerApp.equipment.home.title">Equipment</span>
    </div>
    <div *jhiHasAnyAuthority="'USER_MANAGER'">
        <a [routerLink]="['/equipment/new']"><i class="mdi mdi-plus"></i> <span>Thêm</span></a>
    </div>
</div>
<div>
    <!--<h2 id="page-heading">
        <span jhiTranslate="medicalEquipmentManagerApp.equipment.home.title">Equipment</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-equipment" [routerLink]="['/equipment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="entity.action.create">
            Create a new Equipment
            </span>
        </button>
    </h2>-->

    <jhi-alert-error></jhi-alert-error>

    <!--    <jhi-alert></jhi-alert>-->

    <div class="alert alert-warning" id="no-result" *ngIf="equipment?.length === 0">
        <span jhiTranslate="medicalEquipmentManagerApp.equipment.home.notFound">No equipment found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="equipment?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
<!--                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th *ngIf="isDisplayUsing" scope="col"  jhiSortBy="code"><span>Serial</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="medicalEquipmentManagerApp.equipment.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="medicalEquipmentManagerApp.equipment.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="groupOfEquipment"><span >Phân loại</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="equipmentTypeID"><span jhiTranslate="medicalEquipmentManagerApp.equipment.equipmentTypeID">Equipment Type ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th *ngIf="!isDisplayUsing" scope="col"  jhiSortBy="status"><span jhiTranslate="medicalEquipmentManagerApp.equipment.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
<!--                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="medicalEquipmentManagerApp.equipment.description">Description</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--                    <th scope="col"  jhiSortBy="qrcode"><span jhiTranslate="medicalEquipmentManagerApp.equipment.qrcode">Qrcode</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    [class.selected]="rowSelected === equipment"
                    (click)="selectRow(equipment)"
                    *ngFor="let equipment of equipment ;trackBy: trackId; let i = index">
<!--                    <td><a [routerLink]="['/equipment', equipment.id, 'view']">{{ equipment.id }}</a></td>-->
                    <td *ngIf="isDisplayUsing"><a (click)="downClick(equipment)"></a>{{ equipment.serial }}</td>
                    <td><a (click)="downClick(equipment)"></a>{{ equipment.code }}</td>
                    <td>{{ equipment.name }}</td>
                    <td class="text-center">{{ equipment.groupOfEquipment }}</td>
                    <td class="text-center">{{ equipment.equipmentTypeName }}</td>
<!--                    <td>{{ equipment.equipmentTypeID }}</td>-->
                    <td *ngIf="!isDisplayUsing" class="text-center">
                        <div class="custom-control custom-checkbox">
                            <input [disabled]="true" type="checkbox" class="custom-control-input" name="{{'status' + i}}"
                                   id="{{'status' + i}}" [ngModel]="equipment.status === 1">
                            <label class="custom-control-label" for="{{'status' + i}}"></label>
                        </div>
                    </td>
<!--                    <td>{{ equipment.description }}</td>-->
<!--                    <td>-->
<!--                        <qr-code *ngIf="equipment.qrcode" [value]="equipment.qrcode" [size]="100"></qr-code>-->
<!--                    </td>-->
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/equipment', equipment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    *jhiHasAnyAuthority="'ROLE_USER'"
                                    [hidden]="!isDisplayUsing"
                                    (click)="openTSKT(equipment.serial)"
                                    class="btn btn-primary btn-sm">
                                <span class="d-none d-md-inline"> <i class="mdi mdi-update"></i> Cập nhật thông số hiện tại</span>
                            </button>
                            <button type="submit"
                                    *jhiHasAnyAuthority="'ROLE_USER'"
                                    [hidden]="!isDisplayUsing"
                                    (click)="openBaoHong()"
                                    class="btn btn-danger btn-sm">
                                <span class="d-none d-md-inline"><i class="mdi mdi-message "> </i> Báo hỏng</span>
                            </button>

                            <button *jhiHasAnyAuthority="'USER_MANAGER'" type="submit"
                                    [routerLink]="['/equipment', equipment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button *jhiHasAnyAuthority="'USER_MANAGER'" type="submit" (click)="delete(equipment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td *ngIf="!isDisplayUsing" colspan="6"> Số dòng : {{equipment?.length}}</td>
                <td *ngIf="isDisplayUsing" colspan="6"> Số dòng : {{equipment?.length}}</td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div *ngIf="equipment?.length > 0">
        <!--<div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>-->
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
    <ngb-tabset *ngIf="!isDisplayUsing && this.equipmentDT?.length > 0" class="tool-navbar">
        <ngb-tab id="tab1">
            <ng-template ngbTabTitle><span>Chi tiết</span>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="table-responsive" id="detail" *ngIf="equipmentDT?.length > 0">
                    <table class="table table-striped" aria-describedby="page-heading">
                        <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                            <th scope="col"  jhiSortBy="code"><span>Serial</span> <fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"  jhiSortBy="code"><span jhiTranslate="medicalEquipmentManagerApp.equipment.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"  jhiSortBy="name"><span jhiTranslate="medicalEquipmentManagerApp.equipment.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"  jhiSortBy="groupOfEquipment"><span >Phân loại</span> <fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"  jhiSortBy="equipmentTypeID"><span jhiTranslate="medicalEquipmentManagerApp.equipment.equipmentTypeID">Equipment Type ID</span> <fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"  jhiSortBy="equipmentTypeID"><span >Trạng thái</span> <fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"  jhiSortBy="equipmentTypeID"><span ></span> <fa-icon icon="sort"></fa-icon></th>
                        </thead>
                        <tbody>
                        <tr
                            *ngFor="let equipment of equipmentDT ;trackBy: trackId; let i = index">
                            <td><a (click)="downClick(equipment)"></a>{{ equipment.serial }}</td>
                            <td><a (click)="downClick(equipment)"></a>{{ equipment.code }}</td>
                            <td>{{ equipment.name }}</td>
                            <td class="text-center">{{ equipment.groupOfEquipment }}</td>
                            <td class="text-center">{{ equipment.equipmentTypeName }}</td>
                            <td class="text-center">{{ equipment.tonKho === 0 ? 'Đã được bàn giao' : 'Sẵn sàng' }}</td>
                            <td class="text-center">
                                <button type="submit"
                                        (click)="openTSKT(equipment.serial)"
                                        class="btn btn-info btn-sm">
                                    <fa-icon icon="eye"></fa-icon>
                                    <span class="d-none d-md-inline" >Thông số kỹ thuật</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7"> Số dòng : {{equipmentDT?.length}}</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

</div>
<ng-template #content>
    <form name="deleteForm">
        <div class="modal-header">
            <h4 class="modal-title" >Thông số kỹ thuật của thiết bị {{rowSelected?.name}} ký hiệu</h4>
        </div>
        <div class="modal-body">
            <div><label style="font-weight: bold"> Thông số kỹ thuật</label></div>
            <div class="row">
                <div class="table-responsive" >
                    <table class="table table-striped" aria-describedby="page-heading">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 40px" ><span >STT</span> </th>
                            <th scope="col" ><span > Tên thông số</span> </th>
                            <th scope="col" ><span > Giá trị</span> </th>
                            <th scope="col" ><span > Ngày cập nhật</span> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr
                            *ngFor="let detail of technicalDataTimeLines ; let i= index;">
                            <td style="text-align: center">{{i+1}}</td>
                            <td>
                                <input type="text" class="input-cell" name="nameTN {{i}}" [ngModelOptions]="{standalone: true}"   [(ngModel)]="detail.name" />
                            </td>
                            <td>
                                <input type="text" class="input-cell" name="ValueTN {{i}}" [ngModelOptions]="{standalone: true}"  [(ngModel)]="detail.value" />
                            </td>
                            <td>
                                {{ detail.time | date:'dd/MM/yy HH:mm' }}
                            </td>
                        </tr>
                        <tr *ngFor="let l of utilsService.newArr(10 - technicalDataTimeLines?.length)">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4"> Số dòng : {{technicalDataTimeLines?.length}}</td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="update()" type="button" class="btn btn-success" data-dismiss="modal" >
                <fa-icon icon="ban"></fa-icon>&nbsp;<span >Cập nhật</span>
            </button>
            <button (click)="closeContent()" type="button" class="btn btn-secondary" data-dismiss="modal" >
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
        </div>
    </form>
</ng-template>

<ng-template #contentBaoHong>
    <form name="deleteForm">
        <div class="modal-header">
            <h4 class="modal-title">Báo Hỏng thiết bị {{rowSelected?.name}}</h4>
        </div>
        <div class="modal-body">
            <fieldset class="border p-2">
                <legend class="w-auto">Mô tả tình trạng</legend>
                <div class="form-group">
                    <label for="fromDate">Mô tả:</label>
                    <textarea type="text" [(ngModel)]="description" autocomplete="false" class="form-control" id="fromDate" name="fromDate">
                    </textarea>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button (click)="baoHong()" class="btn btn-success">
                <span>Đồng ý</span>
            </button>
            <button type="button" class="btn btn-dark" (click)="closeContentBH()" data-dismiss="modal">
                <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
        </div>
    </form>
</ng-template>
