.main-login {
  padding-top: 100px;
  background-image: url(../../../content/images/background-ic.png); /* The image used */
  height: 1280px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.btn-login {
  width: 100%;
  background-color: orange;
}
