<div>
    <div class="ptitle">
        <span *ngIf="isNhapKho">Nhập kho</span>
        <span *ngIf="!isNhapKho">Xuất kho</span>
    </div>
</div>
<div class="row justify-content-center">
    <div  class="col-10 justify-content-lg-end" style="padding: 0px;">
        <div class="col-3" style="padding: 0px">
            <label> {{isNhapKho?'Loại nhập kho':'Loại xuất kho'}}</label>
            <ng-select [items]="isNhapKho?utilsService.typeNhapKho:utilsService.typeXuatKho"
                       id="typeNK1"
                       name="typeNK1"
                       bindLabel="name"
                       bindValue="status"
                       placeholder=""
                       style="border-left: none"
                       [disabled]="isFromRecive || isFromPay"
                       [(ngModel)]="inOutRepository.type"
                       (change)="typeChange()"
            ></ng-select>
        </div>
    </div>
    <div class="col-10" style="padding: 0px;">
        <div class="row">
            <div class="col-6" style="padding-left: 0px">
                <div style="display: flex;">
                    <div class="col-6" style="padding: 0px">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.inOutRepository.deliver"
                                   for="field_deliver">Deliver</label>
                            <input *ngIf="inOutRepository.type !== 1 || !isNhapKho" type="text" class="form-control" name="deliver" id="field_deliver"
                                   [(ngModel)]="inOutRepository.deliver"
                            />
                            <ng-select *ngIf="inOutRepository.type === 1 && isNhapKho" [items]="inOutRepository.type === 1? users: users"
                                       id="typeXXX"
                                       name="typeXXX"
                                       bindLabel="firstName"
                                       bindValue="id"
                                       placeholder=""
                                       style="border-left: none"
                                       [disabled]="isFromRecive || isFromPay"
                                       [(ngModel)]="inOutRepository.userID"
                                       (change)="typeChange()"
                            ></ng-select>
                        </div>
                    </div>
                    <div class="col-6" style="padding-right: 0px">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.inOutRepository.phoneContact"
                                   for="field_phoneContact">Phone Contact</label>
                            <input type="text" class="form-control" name="phoneContact" id="field_phoneContact"
                                   [(ngModel)]="inOutRepository.phoneContact"
                            />
                        </div>
                    </div>
                </div>
                <div style="display: flex;">
                    <div class="col-6" style="padding: 0px">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.inOutRepository.receiver"
                                   for="field_receiver">Deliver</label>
                            <input *ngIf="inOutRepository.type !== 1 || isNhapKho" type="text" class="form-control" name="deliver" id="field_receiver"
                                   [(ngModel)]="inOutRepository.receiver"
                            />
                            <ng-select *ngIf="inOutRepository.type === 1 && !isNhapKho" [items]="inOutRepository.type === 1? users: users"
                                       id="typeNV"
                                       name="typeNV"
                                       bindLabel="firstName"
                                       bindValue="id"
                                       placeholder=""
                                       style="border-left: none"
                                       [disabled]="isFromRecive || isFromPay"
                                       [(ngModel)]="inOutRepository.userID"
                                       (change)="typeChange()"
                            ></ng-select>
                        </div>
                    </div>
                    <div class="col-6" style="padding-right: 0px">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.inOutRepository.phoneContactReceiver"
                                   for="field_phoneContactreceiver">Phone Contact</label>
                            <input type="text" class="form-control" name="field_phoneContactreceiver" id="field_phoneContactreceiver"
                                   [(ngModel)]="inOutRepository.phoneContactReceiver"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6" style="padding: 0px">
                <div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.inOutRepository.no" for="field_no">No</label>
                        <input type="text" class="form-control" name="no" id="field_no"  [(ngModel)]="inOutRepository.no" />
                    </div>

                    <div class="form-group" style="display: flex;">
                        <div class="col-6" style="padding-left: 0px">
                            <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.inOutRepository.date" for="field_date">Date</label>
                            <div class="input-group">
                                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker"
                                       [(ngModel)]="inOutRepository.date"/>
                                <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                            </div>
                        </div>
                        <div class="col-6" style="padding-right: 0px">
                            <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.inOutRepository.postedDate" for="field_postedDate">Posted Date</label>
                            <div class="input-group">
                                <input id="field_postedDate" type="text" class="form-control" name="postedDate" ngbDatepicker #postedDateDp="ngbDatepicker"
                                       [(ngModel)]="inOutRepository.postedDate"/>
                                <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="postedDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive" id="entities">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr>
                        <th scope="col" ><span >Mã thiết bị VT</span> </th>
                        <th scope="col" ><span > Tên thiết bị VT</span> </th>
                        <th scope="col" ><span > Serial(*) </span> </th>
                        <th scope="col" ><span > Kho</span> </th>
                        <th scope="col" ><span > Số lượng</span> </th>
                        <th scope="col" ><span> Đơn vị</span> </th>
                        <th scope="col" ><span > Đơn giá</span> </th>
                        <th scope="col" ><span > Thành tiền</span> </th>
                        <th scope="col" ><span > Số lô</span> </th>
                        <th scope="col" ><span > Hạn dùng</span> </th>
                        <th scope="col" style="min-width: 100px" ><span > Thông số kỹ thuật</span> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                        (keydown.control.delete)="removeRow(detail)"
                        *ngFor="let detail of inOutRepositoryDetails ; let i= index;">
                        <td>
                            <ng-select [items]="deviceModels"
                                       id="deviceModels{{i}}"
                                       name="deviceModels{{i}}"
                                       bindLabel="code"
                                       bindValue="id"
                                       placeholder=""
                                       style="border-left: none"
                                       [searchFn]="searchcountry"
                                       [(ngModel)]="detail.prodID"
                                       class="customSelect"
                                       (change)="deviceChange(detail)"
                            >
                                <ng-template  ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                    <div [title]="item.name" [ngOptionHighlight]="search">{{item.code}}</div>
                                    <div [title]="item.name" [ngOptionHighlight]="search">{{item.name}}</div>
                                </ng-template>
                            </ng-select>
                        </td>
                        <td>
                            <input type="text" class="input-cell" name="prodName {{i}}" [(ngModel)]="detail.prodName" />
                        </td>
                        <td>
                            <input type="text" class="input-cell" name="serial {{i}}" [(ngModel)]="detail.serial" />
                        </td>
                        <td>
                            <ng-select [items]="repositorys"
                                       id="repositorys{{i}}"
                                       name="repositorys{{i}}"
                                       bindLabel="name"
                                       bindValue="id"
                                       placeholder="Chọn kho"
                                       style="border-left: none"
                                       [(ngModel)]="detail.repositoryID"
                                       class="customSelect"
                            >
                            </ng-select>
                        </td>
                        <td>
                            <input currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', precision : 0 }"
                                   class="input-cell" name="quantity {{i}}" [(ngModel)]="detail.quantity"
                                   (ngModelChange)="quantityChange(detail)"
                            />
                        </td>
                        <td>
                            <input type="text" class="input-cell" name="unit {{i}}" [(ngModel)]="detail.unit" />
                        </td>
                        <td>
                            <input currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', precision : 0 }"
                                   class="input-cell" name="unitPrice {{i}}" [(ngModel)]="detail.unitPrice"
                                   (ngModelChange)="unitPriceChange(detail)"
                            />
                        </td>
                        <td>
                            <input currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', precision : 0 }"  class="input-cell" name="amount {{i}}" [(ngModel)]="detail.amount" />
                        </td>
                        <td>
                            <input type="text" class="input-cell" name="lotNo {{i}}" [(ngModel)]="detail.lotNo" />
                        </td>
                        <td>
                            <input type="date" class="input-cell" name="expiryDate {{i}}" [(ngModel)]="detail.expiryDate" />
                        </td>
                        <td>
                            <a style="text-align: center" (click)="addThongSoKyThuat(detail)">
                                <i class="mdi mdi-plus-box"></i>
                            </a>
                            <label *ngFor="let item of detail?.technicalDataModel;let j =index"> {{j + '-' + (item.name?item.name:'') + ': ' +( item.value?item.value:'')}}</label>
                        </td>
                    </tr>
                    <tr (click)="addNewRow()">
                        <td>
                            <input disabled type="text" [title]="'Thêm dòng mới ...'" value="Thêm dòng mới ..." class="input-cell" name="no"/>
                        </td>
                        <td>
                            <input disabled type="text" class="input-cell" name="no"/>
                        </td>
                        <td>
                            <input disabled type="text" class="input-cell" name="no"/>
                        </td>
                        <td>
                            <input disabled type="text" class="input-cell" name="no"/>
                        </td>
                        <td>
                            <input disabled type="text" class="input-cell" name="no"/>
                        </td>
                        <td>
                            <input disabled type="text" class="input-cell" name="no"/>
                        </td>
                        <td>
                            <input disabled type="text" class="input-cell" name="no"/>
                        </td>
                        <td>
                            <input disabled type="text" class="input-cell" name="no"/>
                        </td>
                        <td>
                            <input disabled type="text" class="input-cell" name="no"/>
                        </td>
                        <td>
                            <input disabled type="text" class="input-cell" name="no"/>
                        </td>
                        <td>
                            <input disabled type="text" class="input-cell" name="no"/>
                        </td>
                    </tr>
                    <tr *ngFor="let l of newArr(10 - inOutRepositoryDetails?.length)">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7"> Số dòng : {{inOutRepositoryDetails?.length}}</td>
                        <td>
                            <input name="total" class="input-cell" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', precision : 0 }" [ngModel]="sumDT('amount')"></input>
                        </td>
                        <td colspan="3"></td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button (click)="save()" [disabled]="inOutRepository.recorded" type="submit" id="save-entity"  class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
    </div>
</div>
<ng-template #content>
    <form name="deleteForm">
        <div class="modal-header">
            <h4 class="modal-title" >Nhập thông số kỹ thuật cho thiết bị {{rowSelect?.prodName}}</h4>
        </div>
        <div class="modal-body">
            <div><label style="font-weight: bold"> Thông số kỹ thuật</label></div>
            <div class="row">
                <div class="table-responsive" >
                    <table class="table table-striped" aria-describedby="page-heading">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 40px" ><span >STT</span> </th>
                            <th scope="col" ><span > Tên thông số</span> </th>
                            <th scope="col" ><span > Giá trị</span> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr
                            (keydown.control.delete)="removeRowTechnical(detail)"
                            *ngFor="let detail of rowSelect?.technicalDataModel ; let i= index;">
                            <td style="text-align: center">{{i+1}}</td>
                            <td>
                                <!--<ng-select [items]="deviceModels"
                                           id="deviceModels"
                                           name="deviceModels"
                                           bindLabel="name"
                                           bindValue="id"
                                           placeholder=""
                                           style="border-left: none"
                                           [(ngModel)]="detail.prodID"
                                           class="customSelect"
                                >
                                </ng-select>-->
                                <input type="text" class="input-cell" name="nameTN {{i}}" [ngModelOptions]="{standalone: true}"   [(ngModel)]="detail.name" />
                            </td>
                            <td>
                                <input type="text" class="input-cell" name="ValueTN {{i}}" [ngModelOptions]="{standalone: true}"  [(ngModel)]="detail.value" />
                            </td>
                        </tr>
                        <tr (click)="addNewRowTechnical()">
                            <td colspan="2">
                                <input disabled type="text" [title]="'Thêm dòng mới ...'" value="Thêm dòng mới ..." class="input-cell" name="no"/>
                            </td>
                            <td>
                                <input disabled type="text" class="input-cell" name="no"/>
                            </td>
                        </tr>
                        <tr *ngFor="let l of utilsService.newArr(10 - rowSelect?.technicalDataModel?.length)">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3"> Số dòng : {{rowSelect?.technicalDataModel?.length}}</td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="closeContent()" id="jhi-confirm-delete-inOutRepository" type="submit" class="btn btn-success">
                <fa-icon icon="times"></fa-icon>&nbsp;<span>Đồng ý</span>
            </button>
            <button (click)="closeContent()" type="button" class="btn btn-secondary" data-dismiss="modal" >
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
        </div>
    </form>
</ng-template>
