<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-in-out-repository-heading" jhiTranslate="medicalEquipmentManagerApp.inOutRepository.home.createOrEditLabel">Create or edit a In Out Repository</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.inOutRepository.organizationUnitID" for="field_organizationUnitID">Organization Unit ID</label>
                    <input type="number" class="form-control" name="organizationUnitID" id="field_organizationUnitID"
                           formControlName="organizationUnitID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.inOutRepository.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.inOutRepository.postedDate" for="field_postedDate">Posted Date</label>
                    <div class="input-group">
                        <input id="field_postedDate" type="text" class="form-control" name="postedDate" ngbDatepicker #postedDateDp="ngbDatepicker" formControlName="postedDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="postedDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.inOutRepository.no" for="field_no">No</label>
                    <input type="text" class="form-control" name="no" id="field_no"
                           formControlName="no"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.inOutRepository.deliver" for="field_deliver">Deliver</label>
                    <input type="text" class="form-control" name="deliver" id="field_deliver"
                           formControlName="deliver"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.inOutRepository.phoneContact" for="field_phoneContact">Phone Contact</label>
                    <input type="text" class="form-control" name="phoneContact" id="field_phoneContact"
                           formControlName="phoneContact"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.inOutRepository.outOfStock" for="field_outOfStock">Out Of Stock</label>
                    <input type="checkbox" class="form-control" name="outOfStock" id="field_outOfStock"
                           formControlName="outOfStock"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.inOutRepository.recorded" for="field_recorded">Recorded</label>
                    <input type="checkbox" class="form-control" name="recorded" id="field_recorded"
                           formControlName="recorded"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
