<div>
    <div class="ptitle">
        <span *ngIf="isNhapKho">Nhập kho</span>
        <span *ngIf="!isNhapKho">Xuất kho</span>
    </div>
    <div *jhiHasAnyAuthority="'USER_MANAGER'">
        <a *ngIf="isNhapKho" [routerLink]="['/in-out-repository/in/new']"><i class="mdi mdi-plus"></i> <span>Thêm</span></a>
        <a *ngIf="!isNhapKho" [routerLink]="['/in-out-repository/out/new']"><i class="mdi mdi-plus"></i> <span>Thêm</span></a>
    </div>
</div>
<div>
<div>
    <jhi-alert-error></jhi-alert-error>

    <!--    <jhi-alert></jhi-alert>-->

    <div class="alert alert-warning" id="no-result" *ngIf="inOutRepositories?.length === 0">
        <span jhiTranslate="medicalEquipmentManagerApp.inOutRepository.home.notFound">No inOutRepositories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="inOutRepositories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="medicalEquipmentManagerApp.inOutRepository.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postedDate"><span jhiTranslate="medicalEquipmentManagerApp.inOutRepository.postedDate">Posted Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="no"><span jhiTranslate="medicalEquipmentManagerApp.inOutRepository.no">No</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliver"><span jhiTranslate="medicalEquipmentManagerApp.inOutRepository.deliver">Deliver</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phoneContact"><span jhiTranslate="medicalEquipmentManagerApp.inOutRepository.phoneContact">Phone Contact</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    [ngStyle]= "getStyle(inOutRepository.recorded)"
                    *ngFor="let inOutRepository of inOutRepositories ;trackBy: trackId">
                    <td>{{ inOutRepository.date | date:'dd/MM/yyyy' }}</td>
                    <td>{{ inOutRepository.postedDate | date:'dd/MM/yyyy' }}</td>
                    <td>{{ inOutRepository.no }}</td>
                    <td>{{ inOutRepository.deliver }}</td>
                    <td>{{ inOutRepository.phoneContact }}</td>
                    <td *ngIf="isNhapKho" class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/in-out-repository/in', inOutRepository.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button *ngIf="!inOutRepository.recorded" type="submit"
                                    (click)="record(inOutRepository)"
                                    class="btn btn-info btn-sm">
                                <span class="d-none d-md-inline" ><i class="mdi mdi-pen"></i> Ghi sổ</span>
                            </button>

                            <button *ngIf="inOutRepository.recorded" type="submit"
                                    (click)="unrecord(inOutRepository)"
                                    class="btn btn-info btn-sm">
                                <span class="d-none d-md-inline" ><i class="mdi mdi-pencil-off"></i> Bỏ ghi sổ</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/in-out-repository/in', inOutRepository.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(inOutRepository)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                    <td *ngIf="!isNhapKho" class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/in-out-repository/out', inOutRepository.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button *ngIf="!inOutRepository.recorded" type="submit"
                                    (click)="record(inOutRepository)"
                                    class="btn btn-info btn-sm">
                                <span class="d-none d-md-inline" ><i class="mdi mdi-pen"></i> Ghi sổ</span>
                            </button>

                            <button *ngIf="inOutRepository.recorded" type="submit"
                                    (click)="unrecord(inOutRepository)"
                                    class="btn btn-info btn-sm">
                                <span class="d-none d-md-inline" ><i class="mdi mdi-pencil-off"></i> Bỏ ghi sổ</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/in-out-repository/out', inOutRepository.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(inOutRepository)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6"> Số dòng : {{inOutRepositories?.length}}</td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div *ngIf="inOutRepositories?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
