<div>
    <h2 id="page-heading">
        <span jhiTranslate="medicalEquipmentManagerApp.repositoryLedger.home.title">Repository Ledgers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-repository-ledger" [routerLink]="['/repository-ledger/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="medicalEquipmentManagerApp.repositoryLedger.home.createLabel">
            Create a new Repository Ledger
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <!--    <jhi-alert></jhi-alert>-->

    <div class="alert alert-warning" id="no-result" *ngIf="repositoryLedgers?.length === 0">
        <span jhiTranslate="medicalEquipmentManagerApp.repositoryLedger.home.notFound">No repositoryLedgers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="repositoryLedgers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="refID"><span jhiTranslate="medicalEquipmentManagerApp.repositoryLedger.refID">Ref ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="detailID"><span jhiTranslate="medicalEquipmentManagerApp.repositoryLedger.detailID">Detail ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="medicalEquipmentManagerApp.repositoryLedger.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postedDate"><span jhiTranslate="medicalEquipmentManagerApp.repositoryLedger.postedDate">Posted Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="no"><span jhiTranslate="medicalEquipmentManagerApp.repositoryLedger.no">No</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliver"><span jhiTranslate="medicalEquipmentManagerApp.repositoryLedger.deliver">Deliver</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phoneContact"><span jhiTranslate="medicalEquipmentManagerApp.repositoryLedger.phoneContact">Phone Contact</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="medicalEquipmentManagerApp.repositoryLedger.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="unit"><span jhiTranslate="medicalEquipmentManagerApp.repositoryLedger.unit">Unit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="unitPrice"><span jhiTranslate="medicalEquipmentManagerApp.repositoryLedger.unitPrice">Unit Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span jhiTranslate="medicalEquipmentManagerApp.repositoryLedger.amount">Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let repositoryLedger of repositoryLedgers ;trackBy: trackId">
                    <td><a [routerLink]="['/repository-ledger', repositoryLedger.id, 'view']">{{ repositoryLedger.id }}</a></td>
                    <td>{{ repositoryLedger.refID }}</td>
                    <td>{{ repositoryLedger.detailID }}</td>
                    <td>{{ repositoryLedger.date | date:'mediumDate' }}</td>
                    <td>{{ repositoryLedger.postedDate | date:'mediumDate' }}</td>
                    <td>{{ repositoryLedger.no }}</td>
                    <td>{{ repositoryLedger.deliver }}</td>
                    <td>{{ repositoryLedger.phoneContact }}</td>
                    <td>{{ repositoryLedger.quantity }}</td>
                    <td>{{ repositoryLedger.unit }}</td>
                    <td>{{ repositoryLedger.unitPrice }}</td>
                    <td>{{ repositoryLedger.amount }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/repository-ledger', repositoryLedger.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/repository-ledger', repositoryLedger.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(repositoryLedger)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
