<div>
    <div *ngIf="!isPay && !isFromManager" class="ptitle">
        <span jhiTranslate="medicalEquipmentManagerApp.requestReceiveDevice.home.title">Request Receive Devices</span>
    </div>
    <div *ngIf="isPay && !isFromManager" class="ptitle">
        <span>Đăng kí trả thiết bị</span>
    </div>
    <div *ngIf="!isPay && isFromManager" class="ptitle">
        <span> Yêu cầu nhận thiết bị</span>
    </div>
    <div *ngIf="isPay && isFromManager" class="ptitle">
        <span> Yêu cầu trả thiết bị</span>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()">
            <div>
                <jhi-alert-error></jhi-alert-error>

                <!--<div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>-->

                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.requestReceiveDevice.userID" for="field_userID">User ID</label>
                    <input type="number" class="form-control" name="userID" id="field_userID"
                           formControlName="userID"/>
                </div>-->
                <div class="row">
                    <div class="col-6" style="padding-left: 0px">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.requestReceiveDevice.requestDate" for="field_requestDate">Request Date</label>
                            <div class="input-group">
                                <input id="field_requestDate" type="text" class="form-control" name="requestDate" ngbDatepicker #requestDateDp="ngbDatepicker" [(ngModel)]="requestReceiveDevice.requestDate"/>
                                <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="requestDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" style="padding: 0px">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.requestReceiveDevice.dateOfDelivery" for="field_dateOfDelivery">Date Of Delivery</label>
                            <div class="input-group">
                                <input id="field_dateOfDelivery" type="text" class="form-control" name="dateOfDelivery" ngbDatepicker #dateOfDeliveryDp="ngbDatepicker" [(ngModel)]="requestReceiveDevice.dateOfDelivery"/>
                                <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfDeliveryDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6" style="padding-left: 0px">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.requestReceiveDevice.description" for="field_description">Description</label>
                            <input type="text" class="form-control" name="description" id="field_description"
                                   [(ngModel)]="requestReceiveDevice.description"/>
                        </div>
                    </div>
                    <div class="col-6" style="padding: 0px">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="medicalEquipmentManagerApp.requestReceiveDevice.status" for="field_status">Status</label>
                            <ng-select [items]="utilsService.statussRequest"
                                       id="field_status"
                                       name="field_status"
                                       bindLabel="name"
                                       bindValue="status"
                                       placeholder=""
                                       style="border-left: none"
                                       [searchFn]="searchcountry"
                                       [(ngModel)]="requestReceiveDevice.status"
                                       disabled
                                       ></ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive" id="entities">
                    <table class="table table-striped" aria-describedby="page-heading">
                        <thead>
                        <tr>
                            <th scope="col" ><span >Mã thiết bị VT</span> </th>
                            <th scope="col" ><span > Tên thiết bị VT</span> </th>
                            <th scope="col" ><span > Serial</span> </th>
                            <th scope="col" ><span > Số lượng</span> </th>
                            <th scope="col" ><span> Đơn vị</span> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr
                            (keydown.control.delete)="removeRow(detail)"
                            *ngFor="let detail of requestReceiveDeviceDetails ; let i= index;">
                            <td>
                                <ng-select [items]="deviceModels"
                                           id="deviceModels{{i}}"
                                           name="deviceModels{{i}}"
                                           bindLabel="code"
                                           bindValue="id"
                                           placeholder=""
                                           style="border-left: none"
                                           [searchFn]="searchcountry"
                                           [(ngModel)]="detail.prodID"
                                           class="customSelect"
                                           (change)="deviceChange(detail)"
                                >
                                    <ng-template  ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                        <div [title]="item.name" [ngOptionHighlight]="search">{{item.code}}</div>
                                        <div [title]="item.serial" [ngOptionHighlight]="search">serial - {{item.serial}}</div>
                                        <div [title]="item.name" [ngOptionHighlight]="search">{{item.name}}</div>
                                    </ng-template>
                                </ng-select>
                            </td>
                            <td>
                                <input type="text" class="input-cell" name="prodName {{i}}" [(ngModel)]="detail.prodName" />
                            </td>
                            <td>
                                <input [disabled]="true" type="text" class="input-cell" name="serial {{i}}" [(ngModel)]="detail.serial" />
                            </td>
                            <td>
                                <input currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', precision : 0 }"
                                       class="input-cell" name="quantity {{i}}" [(ngModel)]="detail.quantity"
                                />
                            </td>
                            <td>
                                <input type="text" class="input-cell" name="unit {{i}}" [(ngModel)]="detail.unit" />
                            </td>
                        </tr>
                        <tr (click)="addNewRow()">
                            <td>
                                <input disabled type="text" [title]="'Thêm dòng mới ...'" value="Thêm dòng mới ..." class="input-cell" name="no"/>
                            </td>
                            <td>
                                <input disabled type="text" class="input-cell" name="no"/>
                            </td>
                            <td>
                                <input disabled type="text" class="input-cell" name="no"/>
                            </td>
                            <td>
                                <input disabled type="text" class="input-cell" name="no"/>
                            </td>
                            <td>
                                <input disabled type="text" class="input-cell" name="no"/>
                            </td>
                        </tr>
                        <tr *ngFor="let l of utilsService.newArr(10 - requestReceiveDeviceDetails?.length)">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5"> Số dòng : {{requestReceiveDeviceDetails?.length}}</td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="isSaving || requestReceiveDevice?.status !== 0" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
